.cookbook-about-page {
  width: 100%;
  margin: auto;
  max-width: 720px;
  section {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card {
      width: 200px;
      height: 150px;
      margin: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
