@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

.notecard {
  padding: 5px;
  // size
  width: 480px;
  height: 330px;
  // background
  background: repeating-linear-gradient(
      #fff 0px,
      #fff 27px,
      rgba(0, 0, 255, 0.15) 28px,
      rgba(0, 0, 255, 0.15) 30px
    ),
    linear-gradient(
      #fff 0,
      #fff 28px,
      rgba(255, 0, 0, 0.25) 28px,
      rgba(255, 0, 0, 0.75) 30px,
      #fff 30px
    );
  // text
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  line-height: 30px;
  // outline
  border: 1px solid rgba(0, 0, 0, 0.25);
  // shadow
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s ease;
  &:hover {
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5);
  }
  // title
  > h1 {
    flex-basis: 100%;
    font-size: 23px;
    text-align: center;
    margin: 0;
    min-width: 100px;
  }
  // instructions and directions
  > ul,
  > ol {
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  > ul {
    list-style: none;
  }
  > ol {
    list-style: decimal;
    margin-left: 25px;
  }
  li {
    min-width: 50px;
  }
}
