.cookbook-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  h1 {
    margin: 0;
    font-size: 5em;
    cursor: pointer;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    > button {
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 0;
    }
  }
}
