.cookbook-footer {
  color: #888;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: auto;
  ul {
    list-style: none;
    margin: 0;
    > li {
      width: 100px;
      margin: 5px;
      > a {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        transition: all 0.4s ease;
        padding: 4px;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 0.1rem;
        &:hover {
          padding: 4px;
          border: 1px solid #2e5bec;
          background-color: #dde5fc;
        }
        > :first-child {
          text-align: center;
          color: black;
          line-height: 25px;
          font-size: 25px;
          width: 35px;
          height: 25px;
          object-fit: contain;
        }
      }
    }
  }
}
