main.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  > h1 {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
  }
  > ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    > li {
      margin: 10px;
    }
  }
  > form.search {
    width: 100%;
    display: flex;
    justify-content: center;
    > input {
      width: 80%;
      max-width: 480px;
      height: 30px;
      font-size: 20px;
      padding: 10px;
      border-radius: 5px !important;
      border: 1px solid black;
      &:focus {
        outline: none;
        border: 1px solid #09f;
      }
    }
    > button {
      cursor: pointer;
      width: 52px;
      height: 52px;
      padding: 0;
      margin: 0;
      border: 1px solid black;
      background-color: #03a9f4;
      border-radius: 5px;
      margin-left: 25px;
      &:focus,
      &:hover {
        background-color: #ffeb3b;
        outline: none;
      }
      &[disabled] {
        cursor: default;
        background-color: grey;
      }
    }
  }
}
