.cookbook-view-recipe {
  margin-left: 10%;
  margin-right: 10%;
}

.cookbook-view-recipe-title {
  margin-top: 10px;
}

.cookbook-view-recipe-edit-button {
  position: relative;
  top: -15px;
  right: -5px;
}
