.cookbook-editor-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  > :first-child {
    width: 46%;
  }
  > :last-child {
    width: 46%;
  }
}
